.review-row{
    min-height: 250px;
    width: 90vw;
    background-image: url('https://image.freepik.com/free-photo/blue-brushstrokes-background_125540-809.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.review-massage{
    background-image: url('https://image.freepik.com/free-photo/blue-brushstrokes-background_125540-809.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 80%; */
    height: 250px;
    border: 1px dotted black;
    overflow: scroll;
}

.review-input{
    width: 98%;
    margin-top: 10px;
}

.review-area{
    width: 98%;
    height: 150px;
    margin-top: 10px;
}